# {{ ansible_managed }}

<VirtualHost *:80>
    ServerAdmin webmaster@{{ ansible_hostname }}
    ServerName {{ ansible_hostname }}
    ErrorLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}-common.log common
    DocumentRoot /var/www/vhosts/{{ ansible_hostname }}/

    <Directory /var/www/vhosts/{{ ansible_hostname }}/>
        Options +Indexes +FollowSymlinks +Includes
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin webmaster@{{ ansible_hostname }}
    ServerName {{ ansible_hostname }}
    ErrorLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}-common.log common
    DocumentRoot /var/www/vhosts/{{ ansible_hostname }}/

    SSLEngine on
    SSLCertificateFile /etc/apache2/certs/{{ ansible_hostname }}/ansible.crt
    SSLCertificateKeyFile /etc/apache2/certs/{{ ansible_hostname }}/ansible.key
    <Directory /var/www/vhosts/{{ ansible_hostname }}/>
        Options +Indexes +FollowSymlinks +Includes
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
